#difficulty-tip,
#progression-tip,
#weight-tip {
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px 8px 2px 8px;
}

#t1-t2-table,
#t3-table {
  border-radius: 5px;
}
